<div class="crumbs">
  <h3>主材列表</h3>
  <p><a ui-sref="main.material-list" >主材管理</a> > 主材列表</p>
</div>

<div class="content-box">
  <div class="form-inline form-group "  >
    <div class="inline-block f12  ">
      <select class="form-control input-sm "   ng-options="v.id as v.name for v in cityTypes" ng-model="list.areaId"   >
        <option value="">--区域--</option>
      </select>
      <input type="text" class="form-control input-sm"  placeholder="品牌名称" maxlength="30" size="20" ng-model="list.name">
      <button   type="button" class="btn btn-primary btn-sm  input-sm "  ng-click="submitSearch(list)">查询</button>
    </div>
    <button type="button" class="btn btn-primary btn-sm  input-sm ml10 float-right " ng-click="add()">新增主材</button>
  </div>

  <table class=" table   table-hover table-condensed  table-striped text-center  ">
    <thead style="background:#8A8BC4; color: #fff">
    <tr>
      <td>品牌名称</td>
      <td>品牌LOGO</td>
      <td>联系人</td>
      <td>手机号码</td>
      <td>座机号码</td>
      <td>区域</td>
      <td>定金（元）</td>
      <td>门店数</td>
      <td>爆款数</td>
      <td>是否显示</td>
      <td>操作</td>
    </tr>
    </thead>


    <tbody>
    <tr ng-repeat="g in grid.result">
      <td>{{g.name }}</td>
      <td><img ng-src="{{g.logo}}&imageView2/2/h/30/"/></td>
      <td>{{g.contact }}</td>
      <td>{{g.mobilePhone }}</td>
      <td>{{g.telephone }}</td>
      <td>{{g.areaName  }}</td>
      <td>{{g.deposit==0?"免费":g.deposit }}</td>
      <td>{{g.storeCount }}</td>
      <td>{{g.productCount }}</td>
      <td>{{g.display?'是':'否'}}</td>
      <td>
        <button  class="btn btn-primary btn-xs " ng-click=edit(g.id)>修改</button>
        <button  class="btn btn-primary btn-xs " ng-click=stores(g.id)>管理门店</button>
        <button  class="btn btn-primary btn-xs " ng-click=bestProduct(g.id)>管理爆款</button>
      </td>
    </tr>
    <tr ng-if="!grid.result"><td colspan=11 class="f12 c-999 " >没有相关数据!</td></tr>
    </tbody>
  </table>
  <div ng-include="'/templates/partial/page.html'" style="height: 50px;background-color: #f4f4f6"></div>



</div>


