<div class="crumbs">
  <h3>已关闭会话</h3>
  <p><a ui-sref="main.chatClose" >会话管理</a> > 已关闭会话</p>
</div>

<div class="chat-wrap clearfix">
    <div class="chat-contL float-left">
        <div class="chat-contL-normal float-left chat-active">
            <div class="chat-contL-group">会话列表</div>
            <div class="chatClose-contL-IM">
                <ul class="chat-contL-list js-chat-close">
                </ul>
            </div>
        </div>
    </div>        
    <div class="chat-contR float-right">
        <div class="chat-contR-top">
            <div class="chat-contR-top-info clearfix">
                <h4><!-- 钢之城作品团队001 --></h4>
                <p><span><!-- 客户已联系： --></span><span style="margin-left:30px;"><!-- 会话创建时间： --></span></p>
            </div>
        </div>
        <div class="chat-contR-mid">
            <div class="chat-contR-IM">
                <ul class="chat-contR-list clearfix">
                    <!-- <a href="javascript:void(0);" class="chat-more" ng-click="chatMore()">查看更多消息</a> -->
                </ul>
            </div>
        </div> 
        <div class="chat-contR-bottom">
            <div class="chat-contR-operate">
                操作群组：<span class="chat-btn-normal" ng-click="normalClick()">正常</span><span class="chat-btn-danger" ng-click="dangerClick()">风险</span>
            </div>
            <div class="chat-closedReason">关闭人：<span></span></div>
            <div class="chat-history">历史消息翻页：<span class="chat-history-homePage">首页</span><span class="chat-history-prvePage">上一页</span><input class="chat-history-input" type="text"> /<span class="chat-history-totalPage">1</span><span class="chat-history-nextPage">下一页</span><span class="chat-history-endPage">尾页</span></div>
        </div>
    </div>

</div>