
<div class="crumbs">
  <h3>客户列表</h3>
  <p><a ui-sref="main.twitter-list" >推客管理</a> > 客户列表</p>
</div>

<div class="content-box">
  <div class="form-inline form-group "  >

    <select class="form-control input-sm "   ng-options="v.code as v.desc for v in progressTypes" ng-model="list.progressType"   >
      <option value="">--所有进度节点--</option>
    </select>

    <select class="form-control input-sm " ng-init="isRegUser=[{code:false,desc:'否'},{code:true,desc:'是'}]"   ng-options="v.code as v.desc for v in isRegUser" ng-model="list.isRegistered"   >
      <option value="">--是否注册用户--</option>
    </select>

   <div class="float-right">
     <input type="text" class="form-control input-sm"  placeholder="推客所属团队全称" maxlength="30" size="30" ng-model="list.teamName">
     <input type="text" class="form-control input-sm"  placeholder="客户姓名/推客姓名" maxlength="30" size="30" ng-model="list.queryKey">
     <div class="inline-block f12 ">
       <button   type="button" class="btn btn-primary btn-sm  input-sm " ng-click="submitSearch(list)">查询</button>
     </div>
   </div>

  </div>

  <table class=" table   table-hover table-condensed  table-striped text-center ">
    <thead style="background:#8A8BC4; color: #fff">
    <tr>
      <td>客户姓名</td>
      <td>手机号码</td>
      <!--<td>最新更新时间</td>-->
      <td>推客姓名</td>
      <td>推客电话</td>
      <td>推客所属团队</td>

      <td>进度节点</td>
      <td>操作</td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="g in grid.result">
      <td ng-bind="g.customerName "></td>
      <td>{{g.customerPhone }}</td>
      <!--<td>{{g.updateTime  |date:'yyyy-MM-dd HH:mm:ss' }}</td>-->
      <td>{{g.twitterName   }}</td>
      <td>{{g.twitterPhone    }}</td>

      <td>{{g.teamName}}</td>
      <td>
        <i ng-if="g.chattingCount">已洽谈*{{g.chattingCount}}</i>
        <i ng-if="g.signedCount "><em ng-if="g.chattingCount">+</em>已签约*{{g.signedCount}}</i>
        <i ng-if="g.settledCount "><em ng-if="g.signedCount">+</em>已结佣*{{g.settledCount}}</i>

      </td>
      <td >
        <button ng-if="g.canView"   class="btn btn-success btn-xs" ng-click="show(g.twitterCustomerId,1)" >查看</button>
        <button ng-if="g.canUpdate"  class="btn btn-primary btn-xs" ng-click="show(g.twitterCustomerId)" >更新节点</button>
      </td>
    </tr>
    <tr ng-if="!grid.result"><td colspan="7" class="f12 c-999 " >没有相关数据!</td></tr>
    </tbody>
  </table>
  <div ng-include="'/templates/partial/page.html'" style="height: 50px;background-color: #f4f4f6"></div>
</div>


