
<div class="crumbs">
    <h3>公司详情</h3>
    <p><a ui-sref="main.order-list" >公司管理</a> > <a ui-sref="main.business" >公司列表</a> > 公司详情</p>
</div>

<div class="content-box " style="min-width: 1100px">
    <div class="tab-btn">
        <ul>
            <li >
                <a href="#/main/business-info/business-basic?id={{getId}}">基本信息</a>
                <a href="#/main/business-info/business-bankCard?id={{getId}}">银行卡</a>
                <a ng-href="#/main/business-info/business-order-list?id={{getId}}" >订单信息</a>
                <a ng-href="#/main/business-info/business-bill-list?id={{getId}}" >账单信息</a>
                <a ng-href="#/main/business-info/business-staffinc-list?id={{getId}}" >业者信息</a>
                <a ng-href="#/main/business-info/business-caseinc-list?id={{getId}}" >作品信息</a>
                <!-- <a ng-href="#/main/business-info/business-account-flow?id={{getId}}">账户资金</a> -->
                <!-- <a ng-href="#/main/business-info/business-refund-list?id={{getId}}" >退款信息</a> -->

            </li>
        </ul>
    </div>

    <div class="tab-btn-content mt30" ui-view="">
        
    </div>
</div>
<div ng-include="'/templates/partial/show-img.html'"></div>