<!--银行卡信息-->
<div>
    <dl>
        <!--私人-->
        <dd ng-if="dataInfoBank.certificateType==0">
            <h4>银行卡绑定信息</h4>
            <div class="content-box-model mt10">
                <ul class="model-inline lh220">
                    <li><span>银行卡号：</span> {{dataInfoBank.bankCardInfo.cardNumber }}</li>
                    <li><span>银行名称：</span> {{dataInfoBank.bankCardInfo.bankName }}</li>
                    <li><span>开户行省/市称：</span><i ng-if="dataInfoBank.bankCardInfo.province!=dataInfoBank.bankCardInfo.city">{{dataInfoBank.bankCardInfo.province }}{{dataInfoBank.bankCardInfo.city }}</i> <i ng-if="dataInfoBank.bankCardInfo.province==dataInfoBank.bankCardInfo.city">{{dataInfoBank.bankCardInfo.province }}</i>
                    <li><span>持卡人：</span> {{dataInfoBank.privateVo.privateOwnerInfoDto.name }}</li>
                    <li><span>身份证号：</span> {{dataInfoBank.privateVo.privateCertificateDto.idCardNumber }}</li>
                    <li><span>手机号码：</span> {{dataInfoBank.privateVo.privateOwnerInfoDto.phoneNumber }}</li>
                    <li><span>账户类型：</span> {{dataInfoBank.accountTypeDesc }}</li>
                    <li><span>状态：</span> {{dataInfoBank.statusDesc  }}</li>
                    <li><span>申请时间：</span> {{dataInfoBank.createTime | date:'yyyy-MM-dd HH:mm:ss' }}</li>
                </ul>
            </div>
            <h4 class="mt20">证件信息</h4>
            <div class="content-box-model mt10">
                <ul class="model-inline lh220">
                    <li><span>身份证正面照：</span>
                        <a class="preview-img cursor "><img ng-src=" {{dataInfoBank.privateVo.privateCertificateDto.idCardFront  }}&imageView2/1/w/60/h/60" width="60"  data-target=".myModal" data-toggle="modal"  data-img=" {{dataInfoBank.privateVo.privateCertificateDto.idCardFront  }}"></a>
                       </li>
                    <li><span>身份证反面照：</span>
                        <a class="preview-img cursor "><img ng-src="{{dataInfoBank.privateVo.privateCertificateDto.idCardBack  }}&imageView2/1/w/60/h/60" width="60"  data-target=".myModal" data-toggle="modal"  data-img="{{dataInfoBank.privateVo.privateCertificateDto.idCardBack  }}"></a>
                        </li>
                    <li><span>手持身份证照：</span>
                        <a class="preview-img cursor "><img ng-src="{{dataInfoBank.privateVo.privateCertificateDto.idCardHold  }}&imageView2/1/w/60/h/60" width="60"  data-target=".myModal" data-toggle="modal"  data-img="{{dataInfoBank.privateVo.privateCertificateDto.idCardHold  }}"></a>
                        </li>
                    <li><span>银行卡正面照：</span>
                        <a class="preview-img cursor "><img ng-src="{{dataInfoBank.privateVo.privateCertificateDto.bankCardFront  }}&imageView2/1/w/60/h/60" width="60"  data-target=".myModal" data-toggle="modal"  data-img="{{dataInfoBank.privateVo.privateCertificateDto.bankCardFront  }}"></a>
                        </li>
                </ul>
            </div>
        </dd>
        <!--对公非三证合一-->
        <dd ng-if="dataInfoBank.certificateType==1">
            <h4>银行卡绑定信息</h4>
            <div class="content-box-model mt10">
                <ul class="model-inline lh220">
                    <li><span>企业名称：</span> {{dataInfoBank.publicNoMergeVo.publicOwnerInfoDto.companyName }}</li>
                    <li><span>法人：</span> {{dataInfoBank.publicNoMergeVo.publicOwnerInfoDto.legalPersonName }}</li>
                    <li><span>持卡人：</span> {{dataInfoBank.publicNoMergeVo.publicOwnerInfoDto.name }}</li>
                    <li><span>手机号码：</span> {{dataInfoBank.publicNoMergeVo.publicOwnerInfoDto.phoneNumber }}</li>
                    <li><span>银行卡号：</span> {{dataInfoBank.bankCardInfo.cardNumber }}</li>
                    <li><span>银行名称：</span> {{dataInfoBank.bankCardInfo.bankName }}</li>
                    <li><span>开户行省/市称：</span> <i ng-if="dataInfoBank.bankCardInfo.province!=dataInfoBank.bankCardInfo.city">{{dataInfoBank.bankCardInfo.province }}{{dataInfoBank.bankCardInfo.city }}</i>
                        <i ng-if="dataInfoBank.bankCardInfo.province==dataInfoBank.bankCardInfo.city">{{dataInfoBank.bankCardInfo.province }}</i></li>
                    <li><span>营业执照：</span> {{dataInfoBank.publicNoMergeVo.publicCertificateNoMergeDto.businessLicence }}</li>
                    <li><span>账户类型：</span> {{dataInfoBank.accountTypeDesc }}</li>
                    <li><span>状态：</span> {{dataInfoBank.statusDesc  }}</li>
                    <li><span>申请时间：</span> {{dataInfoBank.createTime | date:'yyyy-MM-dd HH:mm:ss' }}</li>
                </ul>
            </div>
            <h4 class="mt20">证件信息</h4>
            <div class="content-box-model mt10">
                <ul class="model-inline lh220">
                    <li><span>法人身份证正面照：</span>
                        <a class="preview-img cursor "><img ng-src=" {{dataInfoBank.publicNoMergeVo.publicCertificateNoMergeDto.idCardFront  }}&imageView2/1/w/60/h/60" width="60"  data-target=".myModal" data-toggle="modal"  data-img=" {{dataInfoBank.publicNoMergeVo.publicCertificateNoMergeDto.idCardFront }}"></a>
                    </li>
                    <li><span>法人身份证背面照：</span>
                        <a class="preview-img cursor "><img ng-src="{{dataInfoBank.publicNoMergeVo.publicCertificateNoMergeDto.idCardBack }}&imageView2/1/w/60/h/60" width="60"  data-target=".myModal" data-toggle="modal"  data-img="{{dataInfoBank.publicNoMergeVo.publicCertificateNoMergeDto.idCardBack  }}"></a>
                    </li>
                    <li><span>银行开户许可证：</span>
                        <a class="preview-img cursor "><img ng-src="{{dataInfoBank.publicNoMergeVo.publicCertificateNoMergeDto.bankAccountPerm }}&imageView2/1/w/60/h/60" width="60"  data-target=".myModal" data-toggle="modal"  data-img="{{dataInfoBank.publicNoMergeVo.publicCertificateNoMergeDto.bankAccountPerm }}"></a>
                    </li>
                    <li><span>营业执照：</span>
                        <a class="preview-img cursor "><img ng-src="{{dataInfoBank.publicNoMergeVo.publicCertificateNoMergeDto.bizCert  }}&imageView2/1/w/60/h/60" width="60"  data-target=".myModal" data-toggle="modal"  data-img="{{dataInfoBank.publicNoMergeVo.publicCertificateNoMergeDto.bizCert  }}"></a>
                    </li>
                    <li><span>组织机构代码证：</span>
                        <a class="preview-img cursor "><img ng-src="{{dataInfoBank.publicNoMergeVo.publicCertificateNoMergeDto.orgCodeCert  }}&imageView2/1/w/60/h/60" width="60"  data-target=".myModal" data-toggle="modal"  data-img="{{dataInfoBank.publicNoMergeVo.publicCertificateNoMergeDto.orgCodeCert  }}"></a>
                    </li>
                    <li><span>税务登记证：</span>
                        <a class="preview-img cursor "><img ng-src="{{dataInfoBank.publicNoMergeVo.publicCertificateNoMergeDto.taxPayCert  }}&imageView2/1/w/60/h/60" width="60"  data-target=".myModal" data-toggle="modal"  data-img="{{dataInfoBank.publicNoMergeVo.publicCertificateNoMergeDto.taxPayCert  }}"></a>
                    </li>
                </ul>
            </div>


        </dd>


        <!--对公三证合一-->
        <dd ng-if="dataInfoBank.certificateType==2">
            <h4>银行卡绑定信息</h4>
            <div class="content-box-model mt10">
                <ul class="model-inline lh220">
                    <li><span>企业名称：</span> {{dataInfoBank.publicMergeVo.publicOwnerInfoDto.companyName }}</li>
                    <li><span>法人：</span> {{dataInfoBank. publicMergeVo.publicOwnerInfoDto.legalPersonName }}</li>
                    <li><span>持卡人：</span> {{dataInfoBank.publicMergeVo.publicOwnerInfoDto.name }}</li>
                    <li><span>手机号码：</span> {{dataInfoBank.publicMergeVo.publicOwnerInfoDto.phoneNumber }}</li>
                    <li><span>银行卡号：</span> {{dataInfoBank.bankCardInfo.cardNumber }}</li>
                    <li><span>银行名称：</span> {{  dataInfoBank.bankCardInfo.bankName}}</li>
                    <li><span>开户行省/市称：</span><i ng-if="dataInfoBank.bankCardInfo.province!=dataInfoBank.bankCardInfo.city">{{dataInfoBank.bankCardInfo.province }}{{dataInfoBank.bankCardInfo.city }}</i> <i ng-if="dataInfoBank.bankCardInfo.province==dataInfoBank.bankCardInfo.city">{{dataInfoBank.bankCardInfo.province }}</i></li>
                    <li><span>三证合一号码：</span> {{dataInfoBank.publicMergeVo.publicCertificateMergedDto.mergedLicence }}</li>
                    <li><span>账户类型：</span> {{dataInfoBank.accountTypeDesc }}</li>
                    <li><span>状态：</span> {{dataInfoBank.statusDesc  }}</li>
                    <li><span>申请时间：</span> {{dataInfoBank.createTime | date:'yyyy-MM-dd HH:mm:ss' }}</li>
                </ul>
            </div>
            <h4 class="mt20">证件信息</h4>
            <div class="content-box-model mt10">
                <ul class="model-inline lh220">
                    <li><span>法人身份证正面照：</span>
                        <a class="preview-img cursor "><img ng-src=" {{dataInfoBank.publicMergeVo.publicCertificateMergedDto.idCardFront  }}&imageView2/1/w/60/h/60" width="60"  data-target=".myModal" data-toggle="modal"  data-img=" {{dataInfoBank.publicMergeVo.publicCertificateMergedDto.idCardFront }}"></a>
                    </li>
                    <li><span>法人身份证背面照：</span>
                        <a class="preview-img cursor "><img ng-src="{{dataInfoBank.publicMergeVo.publicCertificateMergedDto.idCardBack }}&imageView2/1/w/60/h/60" width="60"  data-target=".myModal" data-toggle="modal"  data-img="{{dataInfoBank.publicMergeVo.publicCertificateMergedDto.idCardBack  }}"></a>
                    </li>

                    <li><span>三证合一照：</span>
                        <a class="preview-img cursor "><img ng-src="{{dataInfoBank.publicMergeVo.publicCertificateMergedDto.mergedCert  }}&imageView2/1/w/60/h/60" width="60"  data-target=".myModal" data-toggle="modal"  data-img="{{dataInfoBank.publicMergeVo.publicCertificateMergedDto.mergedCert  }}"></a>
                    </li>
                    <li><span>银行开户许可证：</span>
                        <a class="preview-img cursor "><img ng-src="{{dataInfoBank.publicMergeVo.publicCertificateMergedDto.bankAccountPerm }}&imageView2/1/w/60/h/60" width="60"  data-target=".myModal" data-toggle="modal"  data-img="{{dataInfoBank.publicMergeVo.publicCertificateMergedDto.bankAccountPerm }}"></a>
                    </li>
                </ul>
            </div>
        </dd>
    </dl>
</div>
<!--银行卡信息结束-->