<style>
  #editor span{ min-width:0px}
</style>
<script type="text/javascript" charset="utf-8" src="/static/libs/ue/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/libs/ue/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="/static/libs/ue/lang/zh-cn/zh-cn.js"></script>
<div class="crumbs">
  <h3>新增监理公司</h3>
  <p><a ui-sref="main.jl-company-list" >公司管理</a> > <a ui-sref="main.jl-company-list" >监理公司列表</a> > 监理公司公司详情</p>
</div>

<div class="content-box" style="display: none">
  <div class="form-inline form-group">
    <p class=" model-title  ">公司基本信息</p>
    <div>
      <dl>
        <dd><span>公司全称：</span>
          <input type="text" class="form-control required " size="50"  maxlength="30" placeholder="请输入公司全称2-30个字符，不能为纯数字" ng-disabled="isCompany" ng-model="businessInfo.name" ng-pattern="pubRegex.reNumber"  ng-maxlength="30" ng-minlength="2"  ng-blur="name = !businessInfo.name"  ng-class="{err:name }"  /></dd>
        <dd><span>注册地址：</span>
          <select class="form-control " ng-options="v.id as v.name for v in provinces" ng-model="businessInfo.provinceId"   ng-required="true" ng-blur="provinceId =!businessInfo.provinceId"  ng-class="{err:provinceId }" >
            <option value="">--省--</option>
          </select>

          <select class="form-control " ng-options="v.id as v.name for v in cities" ng-model="businessInfo.cityId"  ng-required="true" ng-blur="cityId =!businessInfo.cityId"  ng-class="{err:cityId }"  >
            <option value="">--市--</option>
          </select>
          <select class="form-control areas " ng-options="v.id as v.name for v in areas" ng-model="businessInfo.areaId" ng-if="isAreaShow"  ng-required="true" ng-blur="areaId =!businessInfo.areaId"  ng-class="{err:areaId }" >
            <option value="">--区/县--</option>
          </select>
          <input type="text"   class="form-control" size="50" ng-model="businessInfo.address" ng-required="true" ng-blur="address =!businessInfo.address"  ng-class="{err:address }"  maxlength="30"  placeholder="详细地址不能为纯数字" ng-pattern="pubRegex.reNumber" />
        </dd>
        <dd><span>公司简介：</span>
          <textarea class="form-control" ng-model="businessInfo.description" cols="80"  rows="3" ng-required="true" ng-blur="description =!businessInfo.description"  ng-class="{err:description }" ng-maxlength="500" maxlength="500" placeholder="500字以内"></textarea> <i style=" ">{{businessInfo.description | monitorWords}}/500</i></dd>
        <dd><span>公司LOGO：</span>
          <!---->
          <div class="upimg-inline-block ">
            <dl>
              <dd ><button type="button"  class="btn btn-info " id="logoImage"> 上传公司LOGO <i></i> </button><div class="img-show-box"></div><input type="hidden"  ng-model="businessInfo.logoImage " /></dd>
            </dl>
          </div>
          <!---->
    </dd>
        <dd><span>营业执照：</span>
          <!---->
          <div class="upimg-inline-block ">
            <dl>
              <dd ><button type="button"  class="btn btn-info " id="licenceImage"> 上传营业执照<i></i> </button><div class="img-show-box"></div><input type="hidden"  ng-model="businessInfo.licenceImage " /></dd>
            </dl>
          </div>
          <!---->

        </dd>
        <dd><span>营业执照号码：</span>
          <input type="text"   maxlength="18" ng-pattern="pubRegex.businessLicense"  placeholder="请输入15位或18位营业执照号码"  class="form-control" size="30" ng-model="businessInfo.licenceNo"  ng-required="true" ng-blur="ajaxLisenceNo([businessInfo.licenceNo,'lisenceNo','营业执照已存在,请检查后再试!'])"  ng-class="{err:lisenceNoCss }"/><em class="c-red f12 ml10 ">{{lisenceNoErrText}}</em> <input type="hidden" ng-model="licenceNoOld">
        </dd>

          <dd><span>监理资质证书：</span>
            <!---->
            <div class="upimg-inline-block ">
              <dl>
          <dd >
            <button type="button"  class="btn btn-info " id="supervisorAptitudes"> 上传监理资质证书<i></i> </button> <em class="f12 c-999">(可上传1-3张)</em>
            <div class="img-show-box"></div><input type="hidden"  ng-model="businessInfo.supervisorAptitudes" />
          </dd>
          </dl>
        </div>
        <!---->

        </dd>

        <dd><span>监理合同模版：</span>
          <!---->
          <div class="upimg-inline-block ">
            <dl>
            <dd ><button type="button"  class="btn btn-info " id="supervisorContract"> 上传监理合同模版<i></i> </button>
              <em class="f12 c-999">(只能使用PDF格式)</em>
            <div class="img-show-box pdf"></div><input type="hidden"  ng-model="businessInfo.supervisorContract" /></dd>
        </dl>
        </div>
        <!---->

        </dd>
      </dl>
    </div>

    <p class=" model-title pt20 block  ">公司员工资料</p>
    <div>
      <dl>
        <dd><span>商务代表：</span>
          <input type="text"  size="30" class="form-control"    maxlength="10" placeholder="2-10位真实中文名字字符"  ng-pattern="pubRegex.realname" ng-model="businessInfo.bdName "   ng-blur="bdName  =!businessInfo.bdName "  ng-class="{err:bdName  }" /></dd>
        <dd><span>手机号码：</span>
          <input type="tel"  size="30" class="form-control required"  ng-disabled="isbdMobilePhone"  maxlength="11"  ng-pattern="pubRegex.phone" ng-model="businessInfo.bdMobilePhone "  ng-blur="bdMobilePhone  =!businessInfo.bdMobilePhone "  placeholder="请填写11位手机号码" ng-class="{err:bdMobilePhone  }"/></dd>

        <dd><span>座机号码：</span>
          <input type="tel"  size="30" class="form-control"    maxlength="13" ng-model="businessInfo.bdTelephone "  ng-blur="bdTelephone =ckTel(businessInfo.bdTelephone) "  placeholder="格式：028-88888888" ng-class="{err:bdTelephone}"/><i class="f12 c-999">(选填)</i></dd>
      </dl>

    </div>

    <p class=" model-title pt20 block  ">荣誉证书</p>
    <dd><span class="">荣誉证书：</span>
      <!---->
      <div class="upimg-inline-block ">
        <dl>
        <dd ><button type="button"  class="btn btn-info" id="honors"> 上传荣誉证书<i></i> </button> <em class="f12 c-999">(可0-10张)</em>

          <div class="img-show-box" data-sum="0,10"></div><input type="hidden"  ng-model="businessInfo.honors" /></dd>
        </dl>
      </div>
    <!---->
    </dd>


    <p class=" model-title pt20 block  ">APP内容</p>
    <table>
      <tr>
        <td class="v-top"><span>详细展示：</span></td>
        <td >

          <!--style给定宽度可以影响编辑器的最终宽度-->
          <script id="editor" type="text/plain" style="width:940px;height:400px; overflow-x:hidden "></script>
          <!--style给定宽度可以影响编辑器的最终宽度结束-->
        </td>
      </tr>
    </table>


      <span></span>
      <button ng-init="businessInfo.enable=true" ng-click="submit([businessInfo,true])" style="width: 120px"  type="button" class="btn btn-primary mt50  " >提交</button>

  </div>
</div>

<!--dialog-->
<div class="modal fade myModal text-center "  >
  <div class="modal-dialog" style="display: inline-block; width: auto; ">
    <div class="modal-content"  style="padding: 10px">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div><img ng-src="{{preview}}&imageView2/2/w/600" class="img-big-show"></div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->








