
<div class="tab-btn"  on-module-finished  on-Module-Finished >
    <ul>
        <li>
            <a ng-href="#/main/decorate-sell-list-info?id={{id}}&userId={{userId}}" >基本信息</a>
            <a ng-href="#/main/decorate-sell-list-twitter?id={{id}}&userId={{userId}}" >推客列表</a>
            <a ng-href="#/main/decorate-sell-list-customer?id={{id}}&userId={{userId}}" >客户列表</a>
            <a ng-href="#/main/decorate-sell-list-im?id={{id}}&userId={{userId}}" >会话列表</a>
            <a ng-href="#/main/decorate-sell-list-order?id={{id}}&userId={{userId}}" >订单列表</a>
        </li>
    </ul>
</div>


