
<div class="crumbs">
    <h3>家居顾问详情</h3>
    <p><a ui-sref="main.decorate-sell-list" >家居顾问管理</a> > <a ui-sref="main.decorate-sell-list" >家居顾问列表</a> > 家居顾问详情</p>
</div>

<div class="content-box " style=" min-width: 1100px">
    <div ng-include="'/templates/center/decorate-sell/d-s-tab-inc.html'"></div>

    <div class="form-inline form-group "  >
        <h4 class="mb10 mt30 float-left">订单列表</h4>
        <div class="inline-block f12 float-right pt20">
            <select class="form-control input-sm "   ng-options="v.code as v.desc for v in allTypes.orderTypes " ng-model="list.type"   >
                <option value="">--订单类型--</option>
            </select>
            <select class="form-control input-sm "   ng-options="v.code as v.desc for v in allTypes.orderStatus " ng-model="list.status"   >
                <option value="">--订单状态--</option>
            </select>


        </div>
    </div>

    <table class=" table   table-hover table-condensed  table-striped text-center ">
        <thead style="background:#8A8BC4; color: #fff">
        <tr>
            <td>订单编号</td>
            <td>类型</td>
            <td>状态</td>
            <td>已付金额（元）</td>
            <td>装修公司</td>
            <td>客户电话</td>
            <td>创建时间</td>
            <td>结束时间</td>
            <td>操作</td>
        </tr>
        </thead>


        <tbody>
        <tr ng-repeat="g in grid.result">
            <td ng-bind="g.orderNum "></td>
            <td ng-bind="g.orderTypeDesc  "></td>
            <td> {{g.orderStatusDesc }}<i ng-if="g.orderPhaseDesc">({{g.orderPhaseDesc}})</i></td>
            <td ng-bind="g.payAmount   "></td>
            <td ng-bind="g.companyName   "></td>
            <td ng-bind="g.customerMobilePhone   "></td>
            <td ng-bind="g.createDate | date:'yyyy-MM-dd HH:mm:ss' "></td>
            <td ng-bind="g.endDate  | date:'yyyy-MM-dd HH:mm:ss' "></td>
            <td>
                <a ng-if="g.orderType!=3" class="btn btn-success btn-xs "  ng-href="/#/main/orders-list-info?id={{g.id}}" >查看</a>
                <a ng-if="g.orderType==3" class="btn btn-success btn-xs "  ng-href="/#/main/jl-orders-info?id={{g.id}}" >查看</a>
            </td>
        </tr>
        <tr ng-if="!grid.result"><td colspan="10" class="f12 c-999 " >没有相关数据!</td></tr>
        </tbody>
    </table>
    <div ng-include="'/templates/partial/page.html'" style="height: 50px;background-color: #f4f4f6"></div>

</div>

