<!--dialog showvideo-->
<div class="modal fade myModal720 text-center "  >
    <div class="modal-dialog" style="display: inline-block; width: auto; ">
        <div class="modal-content"  style="padding: 10px">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div>
                <iframe ng-src="{{show720Url}}" width="860" height="600"></iframe>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->