<div class="crumbs">
  <h3>品牌列表</h3>
  <p><a ui-sref="main.brand" >品牌管理</a> > 品牌列表</p>
</div>

<div class="form-inline form-group searchs"  >
  <input type="text" class="form-control input-sm"  placeholder="请输入品牌关键词查询" size="30" ng-model="list.searchKey">
  <button type="button" class="btn btn-primary btn-sm " ng-click="submitSearch(list.searchKey)"> 查询</button>
  <button type="button" class="btn btn-primary btn-sm float-right " ui-sref="main.brand-add" > 添加品牌</button>
</div>


<div class="content-box">
  <table class=" table   table-hover table-condensed  table-striped text-center " style="background: #fff">
    <thead style="background:#8A8BC4; color: #fff">
    <tr>
      <td>ID</td>
      <td>品牌名</td>
      <td>品牌官网</td>
      <td>LOGO</td>
      <td>操作</td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="g in grid.result">
      <td ng-bind="g.id"></td>
      <td ng-bind="g.name"></td>
      <td ng-bind="g.website"></td>
      <td><img ng-src="{{g.logo}}&imageView2/2/h/30/"/></td>
      <td> <button  class="btn btn-primary btn-xs " ng-click=edit(g.id)>修改</button></td>
    </tr>
    </tbody>
  </table>
  <div ng-include="'/templates/partial/page.html'" style="height: 50px;background-color: #f4f4f6"></div>
</div>


